{{- $email := promptStringOnce . "email" "GitHub email" -}}
{{- $name := promptStringOnce . "name" "GitHub username" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    termux = false

[git]
    autoCommit = false
    autoPush = false

[merge]
    command = "vimdiff"

