{{- $email := promptStringOnce . "email" "GitHub email" -}}
{{- $name := promptStringOnce . "name" "GitHub username" -}}
{{- $termux := env "TERMUX_VERSION" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    termux = {{ if $termux }}true{{ else }}false{{ end }}

[git]
    autoCommit = false
    autoPush = false

{{- if ne .chezmoi.os "windows" }}
[merge]
    command = "vimdiff"
{{- end }}

