[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/nerdtree"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/nerdtree-git-plugin"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vim-commentary"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/tagbar"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/fzf"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/fzf.vim"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim-gutentags"]
	path = vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vim-gutentags"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/ctrlp.vim"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vimux"]
	path = /home/ihoms/.dotfiles/vim/.vim/pack/plugins/start/vimux
	url = https://github.com/preservim/vimux.git
