# set a fancy prompt with colors
# Git branch function for prompt
parse_git_branch() {
     git branch 2> /dev/null | sed -n 's/^\* \(.*\)/ (\1)/p'
}

PS1='\[\e[0;38;5;82m\]$ \[\e[0;38;5;45m\]\u \[\e[0;38;5;45m\](\[\e[0;38;5;39m\]\w\[\e[0;38;5;33m\]$(parse_git_branch)\[\e[0;38;5;45m\])\n \[\e[0;1;38;5;45m\]> \[\e[0m\]'

# If this is an xterm set the title to user@host:dir
case "$TERM" in
xterm*|rxvt*)
    PS1="\[\e]0;${debian_chroot:+($debian_chroot)}\u@\h: \w\a\]$PS1"
    ;;
*)
    ;;
esac

# Platform-specific config
if [ -d /data/data/com.termux/files/usr/bin ]; then
    . ~/.bashrc.termux
elif [ -n "$WSL_DISTRO_NAME" ]; then
    . ~/.bashrc.wsl
fi

# Alias definitions.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

export PATH="$HOME/.local/go/bin:$HOME/go/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

eval "$(starship init bash)"
