# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Platform-specific config
if [ -d /data/data/com.termux/files/usr/bin ]; then
    . ~/.bashrc.termux
elif [ -n "$WSL_DISTRO_NAME" ]; then
    . ~/.bashrc.wsl
else
    eval "$(starship init bash)"
fi

# Alias definitions.
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi

export PATH="$HOME/.local/go/bin:$HOME/go/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
